# Ignore virtual environments
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment variables
.env


# Ignore node_modules (if applicable)
node_modules/

# Ignore IDE files
.vscode/
*.log
